@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
      scroll-behavior: smooth;
    }
    ::selection{
      @apply bg-primary text-secondaryBlack;
    }
    ::-webkit-scrollbar{
      @apply w-1;
    }
    ::-webkit-scrollbar-track{
      @apply bg-transparent h-fit;
    }
    ::-webkit-scrollbar-thumb{
      @apply bg-primary;
    }
    body{
      @apply bg-secondaryBlack text-slate-400 text-sm lg:text-base bg-cover bg-repeat-y;
      background-image: url('./assets/42.svg');
    }
    h1, h2, h3, h4{
      @apply tracking-tight font-semibold capitalize;
      line-height: 120% !important;
    }
    h1{
      @apply text-3xl md:text-4xl lg:text-6xl font-bold text-slate-100;
    }
    h2{
      @apply text-2xl md:text-3xl lg:text-5xl text-slate-100;
    }
    h4{
      @apply text-xl text-slate-100;
    }
    button{
      @apply px-6 py-2 w-fit bg-secondaryLight rounded-sm text-slate-100 font-semibold capitalize
      relative top-0 transition-all duration-100 ease-linear hover:bg-secondary active:bg-secondary active:top-1;
    }
}

@layer components{
  .box{
    @apply px-2 py-12 xl:py-16 xl:px-0 max-w-7xl mx-auto flex flex-col;
  }
  .subHeader {
    @apply mb-4 text-primary tracking-[.3rem] uppercase text-xs flex items-center
    before:content-[''] before:w-10 before:h-[1px] before:bg-primary before:flex before:mx-1
    after:content-[''] after:w-10 after:h-[1px] after:bg-primary after:flex after:mx-1;
  }
  .boxGrid{
    @apply grid grid-cols-1 md:grid-cols-2 px-2 py-12 xl:py-16 xl:px-0 max-w-7xl mx-auto gap-8;
  }
  .highlight{
    @apply font-semibold text-primary;
  }
  .gridLeft{
    @apply mx-auto text-center md:mx-0 md:text-left;
  }
  .elementInfo{
    @apply  px-16 py-6 md:py-0 flex flex-col justify-center text-center gap-2 w-full;
  }
  .infoIcons{
    @apply max-w-6xl py-0 md:py-12 w-full md:w-fit rounded-xl bg-secondary/90 grid grid-cols-1 md:grid-cols-3 mx-auto shadow-none md:shadow-xl;
  }
  .infoIcons > *{
    @apply border-b-[1px] md:border-r-[1px] md:border-b-0 border-secondaryDark md:border-secondaryLight;
  }
  .infoIcons :last-child{
    @apply border-0;
  }
  .footerBloc{
    @apply flex flex-col justify-center sm:justify-start gap-3 mx-auto text-center sm:text-left px-5 py-5;
  }
  .footer{
    @apply border-t border-secondary/20;
  }
  .menuDesktop{
    @apply flex gap-10;
  }
  .menuDesktop > a {
    @apply capitalize text-sm tracking-wider hover:text-primary;
  }
}